doctype html
html(lang="en")
  head
    title= resume.name + " - Résumé"
    script(src="https://cdn.tailwindcss.com")
    script(type='text/javascript').
      if (foo) bar(1 + 5);
  body
    h1(class='text-lime-600') Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse
