doctype html
html(lang="en")
  head
    title= resume.name + " - Résumé"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="resume, github, nice, useful, cv")
    meta(name="description", content="resume generator")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/resume.css" media="all")
    link(rel="stylesheet", href="/css/print.css" media="print")
    script(src="https://cdn.tailwindcss.com")
    script(src="/js/github-resume.js") 
  body
    noscript You need to enable Javascript to generate and see r&eacute;sum&eacute; pages.
    p hello,world
