[class^=page] {
  width: 210mm;
  height: 297mm;
  font-size: 14px;
}

img[src$=svg] {
  width:20px;
  opacity: 0.6;
  margin: 0 18px;
}

.social-links img:hover {
  opacity: 1;
}

.title {
  display: inline-block;
  padding: 1px 5px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  margin: 25px 0 12px;
}

.title + * {
  padding-left: 8px;
}
